<div class=" container iframe" [ngClass]="{ 'mobileview': mobile1 }">

    <div class="row">
        <div class="co-sm-2">

        </div>
        <div class="col-sm-6 sent2">
            <h4>Hai, my name is </h4>
            <h1>Thupakula akshay kumar</h1>
            <H2>This is the mobile view of my website </H2>
            <p>loooking forward for other responses
            </p>

            <button class="button-8">tab</button>
            <button class="button-8">large mobiles</button>
            <button class="button-8">small mobiles</button>
            <br>
            <hr>
            <button (click)="back()" class="button-8">back</button>
        </div>
        <div class="col-sm-4">
            <div class="mobile">
                <div class="top-bar">
                    <span class="dot"></span>
                </div>
                <div class="screen">

                    <div class=" iframe-container">
                        <iframe src="https://akshayprofile.netlify.app/" frameborder="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="container-fluid  " [ngClass]="{ 'head': mobile1 }">



    <nav class="navbar navbar-expand-lg  ">
        <div class="container-fluid">
            <a class="navbar-brand" id="nam">akshay</a>

            <div class="navbar-toggler" data-toggle="collapse" (click)="toggleNavbar()"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

                <span *ngIf=isNavbarCollapsed class="fas fa-chevron-left">

                </span>
                <span *ngIf=!isNavbarCollapsed class="fas fa-bars">

                </span>

            </div>


            <div class="collapse navbar-collapse" [ngClass]="{ 'show': isNavbarCollapsed }">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#about">Skills</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#experince">experinces</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#work">work</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#contact">Contact </a>
                    </li>
                </ul>



            </div>
        </div>
    </nav>
    <div (click)="nav()">
        <div class="container ">
            <div class="row r1">
                <div class="col-sm-6 sent">
                    <h4>Hai, my name is </h4>
                    <h1>Thupakula akshay kumar</h1>
                    <H2>I build things for the web and mobile. </H2>
                    <p>I am a software engineer specializing in building and desigining mobile and web applications
                        .
                        Currently I am focused on building web applications for Visiram Solutions.
                    </p>
                    <p (click)="mobile()" class="button-8" id="res">view this page responsiveness</p>
                </div>
                <div class="col-sm-5 image">
                    <img src="./../../assets/WhatsApp Image 2024-03-15 at 10.28.10 AM.jpeg" alt="" class="img-fluid">
                    <br>

                </div>
            </div>
            <br>
            <br>


            <!-- mobile view in complete -->



        </div>



        <div class="container-fluid">

            <div id="experince">
                <h1>experince</h1>
            </div>
            <hr>
            <div class="row exp">
                <p>
                    I am a highly skilled software developer with extensive experience in building robust and scalable
                    applications using React Native, Angular, and React.js. Over the years, I have honed my skills in
                    front-end development and have successfully delivered projects for various clients across different
                    industries.
                    <br>
                    Overall, my experience with React Native, Angular, and React.js has equipped me with the skills and
                    knowledge needed to deliver high-quality software solutions that meet the needs of clients and end
                    users. I am passionate about leveraging cutting-edge technologies to create innovative and
                    user-friendly applications that make a positive impact in the digital world.
                </p>
            </div>
            <div id="about">
                <h1>Skills</h1>
            </div>

            <hr>
            <div class=" skill">
                <div class="row skills" [class.visible]="isVisible">



                    <div class="col-sm-4 paragraph" [ngClass]="{ 'display': none }">
                        <div class="tile-progress tile-primary">
                            <div class="tile-header">
                                <h3>Angular</h3>
                                <span>did flaless websites</span>
                            </div>
                            <div class="tile-progressbar">
                                <span data-fill="80.5%" style="width: 80.5%;"></span>
                            </div>
                            <div class="tile-footer">
                                <h4>
                                    <span class="pct-counter">80.5</span>%
                                </h4>
                                <span>my websites are clean and responsive</span>
                            </div>
                        </div>
                    </div>



                    <div class="col-sm-4 paragraph" [ngClass]="{ 'display': none }">
                        <div class="tile-progress tile-primary">
                            <div class="tile-header">
                                <h3>React</h3>
                                <span>proficient in problem solving</span>
                            </div>
                            <div class="tile-progressbar">
                                <span data-fill="65.5%" style="width: 65.5%;"></span>
                            </div>
                            <div class="tile-footer">
                                <h4>
                                    <span class="pct-counter">65.5</span>%
                                </h4>
                                <span>designed 4 websites and a game</span>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-4 paragraph" [ngClass]="{ 'display': none }">
                        <div class="tile-progress tile-primary">
                            <div class="tile-header">
                                <h3>ReactNative</h3>
                                <span>designed mobile applications </span>
                            </div>
                            <div class="tile-progressbar">
                                <span data-fill="85.5%" style="width: 85.5%;"></span>
                            </div>
                            <div class="tile-footer">
                                <h4>
                                    <span class="pct-counter">85.5</span>%
                                </h4>
                                <span> developed best mobile applications </span>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div id="work">
                <h1>Work</h1>
            </div>
            <hr>
            <div class="container-fluid work ">

                <div class="row">
                    <ul class="circles">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <div class="col-sm-4">
                        <a href="https://shraylon.netlify.app/">

                            <div class="mobile">
                                <div class="top-bar">
                                    <span class="dot"></span>
                                </div>
                                <div class="screen">

                                    <div class=" iframe-container">
                                        <iframe src="https://shraylon.netlify.app/" frameborder="0"></iframe>
                                    </div>
                                </div>
                            </div>
                        </a>


                    </div>
                    <div class="col-sm-4">
                        <a href="https://smashaka.netlify.app/">

                            <div class="mobile">
                                <div class="top-bar">
                                    <span class="dot"></span>
                                </div>
                                <div class="screen">

                                    <div class=" iframe-container">
                                        <iframe src="https://smashaka.netlify.app/" frameborder="0"></iframe>
                                    </div>
                                </div>
                            </div>
                        </a>


                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="contact">
                    <!-- <div appCursorLight class="container">



                        <div class="light" id="light">
                        </div>

                    </div> -->
                    <h1 id="contact">
                        Contact
                    </h1>
                    <hr>

                    <div class="row contacts">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <div class="tile-progress tile-primary">
                                <div class="tile-header">
                                    <h3>akshay kumar thupakula</h3>
                                    <span>9100751090</span>
                                </div>
                                <div class="tile-progressbar">
                                    <span data-fill="100.5%" style="width: 100%;"></span>
                                </div>
                                <div class="tile-footer">
                                    <h4>
                                        akshaygoud509@gmail.com
                                    </h4>
                                    <span>thanks for your visit</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4"></div>
                    </div>

                </div>
            </div>

        </div>



    </div>
</div>